[bumpversion]
current_version = 0.10.0
commit = False
tag = False
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\-(?P<release>[a-z]+))?
serialize = 
	{major}.{minor}.{patch}-{release}
	{major}.{minor}.{patch}

[bumpversion:file:django_filters/__init__.py]

[bumpversion:file:setup.py]

[bumpversion:file:docs/conf.py]

[bumpversion:part:release]
optional_value = gamma
values = 
	dev
	gamma

