os: linux
dist: bionic
language: python

cache: pip

install:
  - pip install coverage tox tox-factor

script:
  - coverage erase
  - tox

jobs:
  fast_finish: true
  include:
    - { python: "3.5", env: TOXFACTOR=py35 }
    - { python: "3.6", env: TOXFACTOR=py36 }
    - { python: "3.7", env: TOXFACTOR=py37 }
    - { python: "3.8", env: TOXFACTOR=py38 }

    - python: "3.8"
      env: TOXENV=isort,lint,docs
    - python: "3.8"
      env: TOXENV=warnings
    - { python: "3.5", env: TOXFACTOR=py35, arch: ppc64le }
    - { python: "3.6", env: TOXFACTOR=py36, arch: ppc64le }
    - { python: "3.7", env: TOXFACTOR=py37, arch: ppc64le }
    - { python: "3.8", env: TOXFACTOR=py38, arch: ppc64le }

    - python: "3.8"
      env: TOXENV=isort,lint,docs
      arch: ppc64le
    - python: "3.8"
      env: TOXENV=warnings
      arch: ppc64le

  allow_failures:
    - env: TOXENV=warnings

after_success:
  - coverage combine --append
  - coverage report -m
  - pip install codecov
  - codecov
