sudo: false

dist: xenial
language: python
python:
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"

cache: pip

install:
  # latest detox and tox aren't compatible https://github.com/carltongibson/django-filter/issues/990
  - pip install coverage detox==0.13 tox~=3.2.1 tox-travis tox-venv

script:
  - coverage erase
  - detox

matrix:
  include:
    - python: "3.7"
      env: TOXENV=isort,lint,docs
    - python: "3.7"
      env: TOXENV=warnings
  allow_failures:
    - env: TOXENV=warnings

after_success:
  - coverage combine --append
  - coverage report -m
  - pip install codecov
  - codecov
