include AUTHORS
include CHANGES.rst
include LICENSE
include README.rst
include runshell.py
include runtests.py
recursive-include docs *
recursive-include requirements *
recursive-include tests *
recursive-include django_filters/locale *
prune docs/_build